<a href="https://colab.research.google.com/github/sommizzu/AWS-NLP-STUDY/blob/main/Teach_4day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Keras Functional API

In [ ]:
from tensorflow.keras.layers import Input, Dense
from tensorflow.keras.models import Model

## Fully-connected FFNN

### Functional API

### 입력층

In [ ]:
inputs = Input( shape = ( 10, ) ) # Input()에 입력 크기 정의

### 은닉층/출력층

In [ ]:
# 이전층을 다음층 함수의 입력으로 사용, 변수에 결과를 저장
hidden1 = Dense( 64, activation = 'relu' )( inputs )
hidden2 = Dense( 64, activation = 'relu' )( hidden1 )
output = Dense( 1, activation = 'sigmoid' )( hidden2 )

### 신경망 모델 생성

In [ ]:
# 최종 신경망 모델 생성, 입력층과 출력층 결정
model = Model( inputs = inputs, outputs = output )

In [ ]:
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, 10)]              0

 dense_1 (Dense)             (None, 64)                704

 dense_2 (Dense)             (None, 64)                4160

 dense_3 (Dense)             (None, 1)                 65

=================================================================
Total params: 4929 (19.25 KB)
Trainable params: 4929 (19.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
inputs = Input( shape = ( 10, ) )
x = Dense( 64, activation = "relu" )( inputs )
x = Dense( 64, activation = "relu" )( x )
x = Dense( 1, activation = "sigmoid" )( x )

model_2 = Model( inputs = inputs, outputs = x )

model_2.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_3 (InputLayer)        [(None, 10)]              0

 dense_13 (Dense)            (None, 64)                704

 dense_14 (Dense)            (None, 64)                4160

 dense_15 (Dense)            (None, 1)                 65

=================================================================
Total params: 4929 (19.25 KB)
Trainable params: 4929 (19.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Sequential API

In [ ]:
from tensorflow.keras.models import Sequential

In [ ]:
model_seq = Sequential()

In [ ]:
model_seq.add( Dense( 64, input_dim = 10, activation = "relu" ) )
model_seq.add( Dense( 64, activation = "relu" ) )
model_seq.add( Dense( 1, activation = "sigmoid" ) )

In [ ]:
model_seq.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 64)                704

 dense_11 (Dense)            (None, 64)                4160

 dense_12 (Dense)            (None, 1)                 65

=================================================================
Total params: 4929 (19.25 KB)
Trainable params: 4929 (19.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

## Functional API로 선형 회귀 모델 생성 및 학습

In [ ]:
from tensorflow.keras import optimizers

In [ ]:
X = [ 1, 2, 3, 4, 5, 6, 7, 8, 9 ] # 입력 데이터
y = [ 11, 22, 33, 44, 53, 66, 77, 87, 95 ] # 정답 데이터

In [ ]:
inputs = Input( shape= ( 1, ) )
hidden1 = Dense( 16, activation = "relu" )( inputs )
hidden2 = Dense( 16, activation = "relu" )( hidden1 )
output = Dense( 1, activation = "linear" )( hidden2 )

model = Model( inputs = inputs, outputs = output )

In [ ]:
model.summary()

Model: "model_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_6 (InputLayer)        [(None, 1)]               0

 dense_22 (Dense)            (None, 16)                32

 dense_23 (Dense)            (None, 16)                272

 dense_24 (Dense)            (None, 1)                 17

=================================================================
Total params: 321 (1.25 KB)
Trainable params: 321 (1.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
sgd = optimizers.SGD( lr = 0.001 ) # optimizer

model.compile( loss = "mse", optimizer = sgd, metrics = [ "mse" ] )
model.fit( X, y, epochs = 20 )

WARNING:absl:`lr` is deprecated in Keras optimizer, please use `learning_rate` or use the legacy optimizer, e.g.,tf.keras.optimizers.legacy.SGD.

Epoch 1/20
1/1 [==============================] - 1s 680ms/step - loss: 3601.4678 - mse: 3601.4678
Epoch 2/20
1/1 [==============================] - 0s 8ms/step - loss: 31740.9473 - mse: 31740.9473
Epoch 3/20
1/1 [==============================] - 0s 12ms/step - loss: 4503.0073 - mse: 4503.0073
Epoch 4/20
1/1 [==============================] - 0s 10ms/step - loss: 3800.8333 - mse: 3800.8333
Epoch 5/20
1/1 [==============================] - 0s 10ms/step - loss: 3680.4939 - mse: 3680.4939
Epoch 6/20
1/1 [==============================] - 0s 12ms/step - loss: 3564.9194 - mse: 3564.9194
Epoch 7/20
1/1 [==============================] - 0s 23ms/step - loss: 3453.9219 - mse: 3453.9219
Epoch 8/20
1/1 [==============================] - 0s 14ms/step - loss: 3347.3198 - mse: 3347.3198
Epoch 9/20
1/1 [==============================] - 0s 16ms/step - loss: 3244.9395 - mse: 3244.9395
Epoch 10/20
1/1 [==============================] - 0s 16ms/step - loss: 3146.6128 - mse: 3146.6128
Epoch 11/20
1/1 [==============================] - 0s 36ms/step - loss: 3052.1804 - mse: 3052.1804
Epoch 12/20
1/1 [==============================] - 0s 12ms/step - loss: 2961.4873 - mse: 2961.4873
Epoch 13/20
1/1 [==============================] - 0s 36ms/step - loss: 2874.3857 - mse: 2874.3857
Epoch 14/20
1/1 [==============================] - 0s 18ms/step - loss: 2790.7332 - mse: 2790.7332
Epoch 15/20
1/1 [==============================] - 0s 14ms/step - loss: 2710.3931 - mse: 2710.3931
Epoch 16/20
1/1 [==============================] - 0s 13ms/step - loss: 2633.2351 - mse: 2633.2351
Epoch 17/20
1/1 [==============================] - 0s 11ms/step - loss: 2559.1323 - mse: 2559.1323
Epoch 18/20
1/1 [==============================] - 0s 10ms/step - loss: 2487.9639 - mse: 2487.9639
Epoch 19/20
1/1 [==============================] - 0s 17ms/step - loss: 2419.6138 - mse: 2419.6138
Epoch 20/20
1/1 [==============================] - 0s 23ms/step - loss: 2353.9705 - mse: 2353.9705

### 다중 입력을 받는 모델을 Functional API로 표현

In [ ]:
from tensorflow.keras.layers import concatenate # 연결

In [ ]:
# 두 개의 입력층 정의
inputA = Input( shape = (64, ) )
inputB = Input( shape = ( 128, ) )

In [ ]:
# 첫번째 입력층에 대한 모델 구성
x = Dense( 16, activation = "relu" )( inputA )
x = Dense( 8, activation = "relu" )( x )
x = Model( inputs = inputA, outputs = x )

In [ ]:
x.summary()

Model: "model_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_9 (InputLayer)        [(None, 64)]              0

 dense_27 (Dense)            (None, 16)                1040

 dense_28 (Dense)            (None, 8)                 136

=================================================================
Total params: 1176 (4.59 KB)
Trainable params: 1176 (4.59 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# 두번째 입력층에 대한 모델 구성
y = Dense( 64, activation = "relu" )( inputB )
y = Dense( 32, activation = "relu" )( y )
y = Dense( 8, activation = "relu" )( y )
y = Model( inputs = inputB, outputs = y )

In [ ]:
y.summary()

Model: "model_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_10 (InputLayer)       [(None, 128)]             0

 dense_29 (Dense)            (None, 64)                8256

 dense_30 (Dense)            (None, 32)                2080

 dense_31 (Dense)            (None, 8)                 264

=================================================================
Total params: 10600 (41.41 KB)
Trainable params: 10600 (41.41 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# 두 개의 모델의 출력 연결
result = concatenate( [ x.output, y.output ] )

In [ ]:
# 두 개의 모델을 합친 후 은닉층과 출력층
z = Dense( 2, activation = "relu" )( result )
z = Dense( 1, activation = "linear" )( z )

In [ ]:
model = Model( inputs = [ x.input, y.input ], outputs = z )

In [ ]:
model.summary()

Model: "model_7"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_10 (InputLayer)       [(None, 128)]                0         []

 input_9 (InputLayer)        [(None, 64)]                 0         []

 dense_29 (Dense)            (None, 64)                   8256      ['input_10[0][0]']

 dense_27 (Dense)            (None, 16)                   1040      ['input_9[0][0]']

 dense_30 (Dense)            (None, 32)                   2080      ['dense_29[0][0]']

 dense_28 (Dense)            (None, 8)                    136       ['dense_27[0][0]']

 dense_31 (Dense)            (None, 8)                    264       ['dense_30[0][0]']

 concatenate (Concatenate)   (None, 16)                   0         ['dense_28[0][0]',
                                                                     'dense_31[0][0]']

 dense_32 (Dense)            (None, 2)                    34        ['concatenate[0][0]']

 dense_33 (Dense)            (None, 1)                    3         ['dense_32[0][0]']

==================================================================================================
Total params: 11813 (46.14 KB)
Trainable params: 11813 (46.14 KB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

# 연비 예측 모델( 단순 선형 회귀 )

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option( 'display.max_columns', 20 )
pd.set_option( 'display.max_colwidth', 20 )
pd.set_option( 'display.unicode.east_asian_width', True )

import warnings
warnings.filterwarnings( 'ignore' )

from tensorflow import keras

### 데이터 준비

In [ ]:
column_names = [ 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
                 'Acceleration', 'Model Year', 'Origin', 'Model Name' ]

auto = pd.read_csv( './auto-mpg.csv', header = None )
auto.head()

      0  1      2      3       4     5   6  7                    8
0  18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevel...
1  15.0  8  350.0  165.0  3693.0  11.5  70  1    buick skylark 320
2  18.0  8  318.0  150.0  3436.0  11.0  70  1   plymouth satellite
3  16.0  8  304.0  150.0  3433.0  12.0  70  1        amc rebel sst
4  17.0  8  302.0  140.0  3449.0  10.5  70  1          ford torino

In [ ]:
auto.columns = column_names
auto.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin,Model Name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevel...
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [ ]:
df = auto.copy()
df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin,Model Name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevel...
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

### 데이터 전처리

In [ ]:
df.isna().sum() # 결측치 확인

MPG             0
Cylinders       0
Displacement    0
Horsepower      0
Weight          0
Acceleration    0
Model Year      0
Origin          0
Model Name      0
dtype: int64

In [ ]:
# Model Name 변수 삭제
df.drop( [ 'Model Name' ], axis = 1, inplace = True )
df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [ ]:
# origin 변수 내용을 개별 변수로 추가
origin = df.pop( 'Origin' )

df[ 'USA' ] = ( origin == 1 ) * 1.0
df[ 'EU' ] = ( origin == 2 ) * 1.0
df[ 'JPN' ] = ( origin == 3 ) * 1.0

df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,USA,EU,JPN
0,18.0,8,307.0,130.0,3504.0,12.0,70,1.0,0.0,0.0
1,15.0,8,350.0,165.0,3693.0,11.5,70,1.0,0.0,0.0
2,18.0,8,318.0,150.0,3436.0,11.0,70,1.0,0.0,0.0
3,16.0,8,304.0,150.0,3433.0,12.0,70,1.0,0.0,0.0
4,17.0,8,302.0,140.0,3449.0,10.5,70,1.0,0.0,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MPG           398 non-null    float64
 1   Cylinders     398 non-null    int64
 2   Displacement  398 non-null    float64
 3   Horsepower    398 non-null    object
 4   Weight        398 non-null    float64
 5   Acceleration  398 non-null    float64
 6   Model Year    398 non-null    int64
 7   USA           398 non-null    float64
 8   EU            398 non-null    float64
 9   JPN           398 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 31.2+ KB

In [ ]:
df[ 'Horsepower' ].unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '?', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [ ]:
df.replace( '?', np.nan, inplace = True )
df[ 'Horsepower' ].unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', nan, '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [ ]:
df = df.dropna()

In [ ]:
df[ 'Horsepower' ].unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [ ]:
df[ 'Horsepower' ] = df[ 'Horsepower' ].astype( np.float64 )
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MPG           392 non-null    float64
 1   Cylinders     392 non-null    int64
 2   Displacement  392 non-null    float64
 3   Horsepower    392 non-null    float64
 4   Weight        392 non-null    float64
 5   Acceleration  392 non-null    float64
 6   Model Year    392 non-null    int64
 7   USA           392 non-null    float64
 8   EU            392 non-null    float64
 9   JPN           392 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 33.7 KB

In [ ]:
df[ 'Horsepower' ].unique()

array([130., 165., 150., 140., 198., 220., 215., 225., 190., 170., 160.,
        95.,  97.,  85.,  88.,  46.,  87.,  90., 113., 200., 210., 193.,
       100., 105., 175., 153., 180., 110.,  72.,  86.,  70.,  76.,  65.,
        69.,  60.,  80.,  54., 208., 155., 112.,  92., 145., 137., 158.,
       167.,  94., 107., 230.,  49.,  75.,  91., 122.,  67.,  83.,  78.,
        52.,  61.,  93., 148., 129.,  96.,  71.,  98., 115.,  53.,  81.,
        79., 120., 152., 102., 108.,  68.,  58., 149.,  89.,  63.,  48.,
        66., 139., 103., 125., 133., 138., 135., 142.,  77.,  62., 132.,
        84.,  64.,  74., 116.,  82.])

In [ ]:
df.to_csv( 'auto-mpg-clean.csv', index = False )